<% include header %>

<% include nav %>

<div class="container">

  <div id="user_programer"></div>
  <div id="user_qa" > </div>
  <div id="user_designer" > </div>

</div>

<div id="user_edit_dlg"></div>

<script src="/js/jquery-1.10.2.min.js"></script>
<script src="/js/admin_user.js"></script>

<% include footer %>