<!DOCTYPE html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>XXXXXXXX</title>

	<link href="/codebase/dhtmlxgantt.css" rel="stylesheet">

	<script src="/codebase/dhtmlxgantt.js"></script> 
	<script src="/codebase/ext/dhtmlxgantt_tooltip.js"></script>

	<style type="text/css">
		html, body{ height:100%; padding:0px; margin:0px; overflow: hidden;}

	    .weekend{
	      background: #f4f7f4;
	    }

	    .gantt_selected .weekend{
	      background: #f7eb91;
	    }

	    .today {
	      background: yellow;
	    }

	</style>
</head>
<body>
	<div id="gantt_here" style='width:100%; height:100%;'></div>

	<script src="/js/jquery-1.10.2.min.js"></script>
	<script src="/js/task.js"></script>
	<script src="/js/task_gantt.js"></script>

	<script type="text/javascript">
		var tg = new TaskGantt(<%= status %>);
		tg.init('gantt_here');
	</script>
</body>