<% include header %>

<% include nav %>

<div class="container">

  <div id="tasks_coding" style="width:100%"></div>
  <div id="tasks_cotest" style="width:100%"></div>
  <div id="tasks_qatest" style="width:100%"></div>

</div> <!-- /container -->

<% include task_view %>

<script>
	var tv_coding = new TaskViewer(2);
	var tv_cotest = new TaskViewer(3);
	var tv_qatest = new TaskViewer(4);

	tv_coding.init('#tasks_coding');
	tv_cotest.init('#tasks_cotest');
	tv_qatest.init('#tasks_qatest');
</script>

<% include footer %>
