<% include header %>

<% include nav %>

<div class="container">
	<div id="taskviewer"> </div>
</div> <!-- /container -->

<% include task_view %>

<script>
	var tv = new TaskViewer(<%= status %>);
	tv.init('#taskviewer');
</script>

<% include footer %>
