<% include header %>

<% include nav %>

<!--
<div class="alert alert-success">...</div>
<div class="alert alert-info">...</div>
<div class="alert alert-warning">...</div>
<div class="alert alert-danger">...</div>
-->

<div class="container">
	<div id="taskviewer"> </div>
</div> <!-- /container -->

<% include task_view %>

<script>
	var tv = new TaskViewer(<%= status %>);
	tv.init('#taskviewer');
</script>

<% include footer %>
